@mixin d-flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin footer-h4 {
  font-size: 1.5vw;
  font-weight: 700;
  margin-left: 2rem;
  margin-bottom: 1rem;
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 1.8vw;
  }
  @media (min-width: 576px) and (max-width: 767px) {
    font-size: 2.8vw;
  }
  @media (min-width: 400px) and (max-width: 575px) {
    font-size: 3.3vw;
  }
  @media (min-width: 100px) and (max-width: 399px) {
    font-size: 4.2vw;
  }
}

@mixin footer-text {
  font-size: 1vw;
  text-decoration: none;
  color: rgb(63, 62, 62);
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 1.5vw;
  }
  @media (min-width: 576px) and (max-width: 767px) {
    font-size: 2vw;
  }
  @media (min-width: 400px) and (max-width: 575px) {
    font-size: 2.8vw;
  }
  @media (min-width: 100px) and (max-width: 399px) {
    font-size: 3.8vw;
  }
}
